{% extends "app.html.twig" %}

{% set title = '記事編集' %}

{% block content %}
  <form method="post" action="list.php" enctype="multipart/form-data">
    {% include 'form.html.twig' %}
    <div>
      <button type="submit" name="edit" value="edit">編集</button>
    </div>
  </form>
{% endblock %}
