{% extends "app.html.twig" %}

{% set title = '記事編集' %}

{% block content %}
  <h1>記事編集</h1>

  <a href="{{constant('koujigenba_php\\backend\\Bootstrap::ENTRY_URL')}}list.php">トップページ</a>

  <form method="post" action="list.php" enctype="multipart/form-data">
    {% include 'form.html.twig' %}
    <div>
      <button type="submit" name="edit" value="edit">編集</button>
    </div>
  </form>
{% endblock %}
