<div class="mb-3">
  <label for="title" class="form-label">タイトル</label>
  <input type="text" class="form-control" id="title" name="title" value="{{article.saveArr.title}}">
</div>
<div class="mb-3">
  <label for="content" class="form-label">本文</label>
  <textarea class="form-control" id="content" name="content" value="" rows="8">{{article.saveArr.content}}</textarea>
</div>
<div class="mb-3">
  <input type="file" name="image">
</div>
<div>
  <input type="hidden" name="article_id" value="{{article.article_id}}">
</div>
